<style>
  .loading {
    background-image: url(\assets\images\loading.gif);
  }
</style>
<div *ngIf="!peopleList || loading" class="spinner-border text-muted loader"></div>

<div>
  <input type="text" id="txtSearch" [(ngModel)]="searchName" />
  <button class="btn btn-primary" (click)="SearchByName()">Search by Name</button>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="peopleList">
  <thead>
    <tr>
      <th>Picture</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>Interest</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of peopleList">
      <td><img alt="loading" class="loading" [src]='person.imageUrl' [style.width.px]='imageWidth' [style.margin.px]='imageMargin' /></td>
      <td>{{ person.firstName }}</td>
      <td>{{ person.lastName }}</td>
      <td>{{ person.age}}</td>
      <td>{{ person.address}}</td>
      <td>{{ person.interest}}</td>
      <td>{{ person.picture}}</td>
    </tr>
  </tbody>
</table>
